<app-navbar></app-navbar>

<app-header ></app-header>
<app-single-section></app-single-section>
<app-team></app-team>
<app-feature-section></app-feature-section>
<app-testimonials></app-testimonials>
<div style="width: 100%; overflow: hidden;">
    <iframe src="https://my.spline.design/sphere-f29de1a00b633c7c2e2c9fe1fbcce252/" 
        frameborder="0" 
        width="150%" 
        height="400px" 
        class="justify-self-center">
    </iframe>
</div>
<app-contact-section></app-contact-section>
<app-footer></app-footer>
