<div class="bg-[#FDFAF6] flex justify-center items-center min-h-screen p-6">
    <div class="w-full max-w-4xl p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 md:p-8  dark:border-gray-700">
        <img src="logo.png" alt="logo" class="mx-auto mb-4" style="width: 100px; height: 100px;" />
        <h5 class="text-xl font-medium text-[#4CAF50] mb-7 justify-self-center" >Sign up to our platform</h5>

        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <!-- Left Column -->
                <div class="space-y-6">
                    <!-- Firstname Input -->
                    <div>
                        <label for="firstname" class="block mb-2 text-sm font-medium text-[#4CAF50]">Firstname</label>
                        <input type="text" id="firstname" formControlName="firstname" 
                               class="
                                      
                                      bg-white border border-gray-300 text-[#4CAF50] text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white dark:border-gray-500 dark:placeholder-gray-400 dark:text-[#4CAF50]" placeholder="Bonnie">
                    </div>
                    <!-- Phone Number Input -->
                    <div>
                        <label for="phone" class="block mb-2 text-sm font-medium text-[#4CAF50]">Phone Number</label>
                        <input type="tel" id="phone" formControlName="phoneNumber"
                               class="
                                      focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 
                                      bg-white border border-gray-300 text-[#4CAF50] text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white dark:border-gray-500 dark:placeholder-gray-400 dark:text-[#4CAF50]" placeholder="(123) 456-7890" />
                    </div>

                    

                   

                    <!-- Date Picker -->
                    <div>
                        <label for="dob" class="block mb-2 text-sm font-medium text-[#4CAF50]">Your birth date</label>
                        <input formControlName="DateOfBirth" name="DateOfBirth" id="dob" type="date"
                               class="
                                      
                                      bg-white border border-gray-300 text-[#4CAF50] text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white dark:border-gray-500 dark:placeholder-gray-400 dark:text-[#4CAF50]">
                    </div>
                    <!-- Password Input -->
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-[#4CAF50]">Password</label>
                        <input type="password" id="password" formControlName="password"
                               class="
                                      focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 
                                      bg-white border border-gray-300 text-[#4CAF50] text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white dark:border-gray-500 dark:placeholder-gray-400 dark:text-[#4CAF50]" placeholder="******" />
                    </div>
                </div>

                <!-- Right Column -->
                <div class="space-y-6">
                    <!-- Lastname Input -->
                    <div>
                        <label for="lastname" class="block mb-2 text-sm font-medium text-[#4CAF50]">Lastname</label>
                        <input type="text" id="lastname" formControlName="lastname" 
                               class="
                                      
                                      bg-white border border-gray-300 text-[#4CAF50] text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white dark:border-gray-500 dark:placeholder-gray-400 dark:text-[#4CAF50]" placeholder="Green">
                    </div>
                    

                    <!-- Localisation Dropdown -->
                    <div>
                        <label for="localisation" class="block mb-2 text-sm font-medium text-[#4CAF50]">Localisation</label>
                        <select id="localisation" formControlName="localisation"
                                class="
                                       
                                       bg-white border border-gray-300 text-[#4CAF50] text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white dark:border-gray-500 dark:placeholder-gray-400 dark:text-[#4CAF50]">
                            <option value="">Select a city</option>
                            <option *ngFor="let city of ['Tunis', 'Sfax', 'Sousse', 'Gabes', 'Bizerte']" [value]="city">{{ city }}</option>
                        </select>
                    </div>

                    <!-- Upload File -->
                    <div>
                        <label class="block mb-2 text-sm font-medium text-[#4CAF50]" for="user_avatar">Upload file</label>
                        <input type="file" id="user_avatar" formControlName="image" (change)="onFileSelected($event)"
                               class="bg-white border border-gray-300 text-[#4CAF50] text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white dark:border-gray-500 dark:placeholder-gray-400 dark:text-[#4CAF50]">
 
                        <img *ngIf="selectedImage" [src]="selectedImage" class="mt-2 rounded-lg w-32 h-32 object-cover justify-self-center" />
                    </div>
                     <!-- Confirm Password Input (full width below the grid) -->
            <div>
                <label for="confirmPassword" class="block mb-2 text-sm font-medium text-[#4CAF50]">Confirm Password</label>
                <input type="password" id="confirmPassword" formControlName="confirmPassword"
                       class="
                              focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 
                              bg-white border border-gray-300 text-[#4CAF50] text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white dark:border-gray-500 dark:placeholder-gray-400 dark:text-[#4CAF50]" placeholder="******" />
            </div>

                    
                </div>
            </div>
            
                    <!-- Email Input -->
                    <div  class="mt-6 mb-7">
                        <label for="email" class="block mb-2 text-sm font-medium text-[#4CAF50]">Your email</label>
                        <input type="email" id="email" formControlName="email"
                               class="
                                      focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 
                                      bg-white border border-gray-300 text-[#4CAF50] text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white dark:border-gray-500 dark:placeholder-gray-400 dark:text-[#4CAF50]" placeholder="name@company.com" />
                    </div>

            

            <!-- Submit Button -->
            <button type="submit" [disabled]="signUpForm.invalid"
                    class="w-full text-white bg-[#4CAF50] hover:bg-blue-800 focus:ring-4 focus:outline-none 
                           focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-[#4CAF50] 
                           dark:hover:bg-[#4CAF50] dark:focus:ring-blue-800">
                Create account
            </button>

            <!-- Checkbox -->
            <div class="flex items-center mt-4">
                <input required id="checkbox-1" type="checkbox" 
                       class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500">
                <label for="checkbox-1" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                    I agree to the <a href="#" class="text-blue-600 hover:underline dark:text-blue-500">terms and conditions</a>.
                </label>
            </div>
        </form>
    </div>
</div>
