<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Transaction ID
                </th>
                <th scope="col" class="px-6 py-3">
                    User Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Transaction Type
                </th>
                <th scope="col" class="px-6 py-3">
                    Amount
                </th>
                <th scope="col" class="px-6 py-3">
                    Currency
                </th>
                <th scope="col" class="px-6 py-3">
                    Date
                </th>
                <th scope="col" class="px-6 py-3">
                    Status
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transaction of transactions" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    TXN123456
                </th>
                <td class="px-6 py-4">
                    {{transaction.user.firstName}}
                </td>
                <td class="px-6 py-4">
                    {{transaction.type}}
                </td>
                <td class="px-6 py-4">
                    {{transaction.amount}}
                </td>
                <td class="px-6 py-4">
                    USD
                </td>
                <td class="px-6 py-4">
                    {{transaction.date}}
                </td>
                <td class="px-6 py-4">
                    Completed
                </td>
                <td class="px-6 py-4">
                    <button class="px-4 py-2 text-sm text-white bg-green-500 rounded">View</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
