<div class="relative overflow-x-auto m-5 mt-20 shadow-xl rounded-lg">
    <h1 class="text-3xl font-bold text-[#0D1F2D] dark:text-[#0D1F2D] mb-6">Welcome Admin👋</h1>
    <table class="min-w-full text-sm text-left rtl:text-right text-[#0D1F2D] dark:text-[#0D1F2D]">
        <thead class="text-xs text-[#0D1F2D] uppercase bg-white dark:bg-white dark:text-[#0D1F2D]">
            <tr>
                <th scope="col" class="px-4 py-3">Transaction ID</th>
                <th scope="col" class="px-4 py-3">User Name</th>
                <th scope="col" class="px-4 py-3">Transaction Type</th>
                <th scope="col" class="px-4 py-3">Amount</th>
                <th scope="col" class="px-4 py-3">Currency</th>
                <th scope="col" class="px-4 py-3">Date</th>
                <th scope="col" class="px-4 py-3">Status</th>
                <th scope="col" class="px-4 py-3">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transaction of paginatedTransactions()" 
                class="bg-white border-b dark:bg-white dark:border-gray-700 border-gray-200">
                <td class="px-4 py-4 ">
                    TXN123456
                </td>
                <td class="px-4 py-4">{{ transaction.user.firstName }}</td>
                <td class="px-4 py-4">{{ transaction.type }}</td>
                <td class="px-4 py-4">{{ transaction.amount||"N/A" }}</td>
                <td class="px-4 py-4">TND</td>
                <td class="px-4 py-4">{{ transaction.date }}</td>
                <td class="px-4 py-4">
                    <span class="px-2 py-1 text-xs font-semibold text-white rounded-lg"
                          [ngClass]="{
                              'bg-green-500': 'Completed' === 'Completed',
                              'bg-yellow-500': transaction.status === 'Pending',
                              'bg-red-500': transaction.status === 'Failed'
                          }">
                        Completed
                    </span>
                </td>
                <td class="px-4 py-4">
                    <button class="p-2 text-green-500 rounded hover:bg-green-60 " (click)="openModal('transactionModal', transaction)" >
                        <lucide-icon [name]="icons.Eye" class="w-5 h-5"></lucide-icon>
                    </button>
                </td>
            </tr>
            <!-- Transaction View Modal -->
            <div id="transactionModal" *ngIf="activeModal === 'transactionModal'" class="fixed inset-0 flex items-center justify-center bg-transparantg-opacity-50">
                <div class="bg-white p-6 rounded-lg shadow-lg w-96 text-center">
                    <h2 class="text-xl font-bold mb-4">Transaction Details</h2>
                    <p class="text-lg font-semibold">Transaction ID: TXN123456</p>
                    <p class="text-gray-600">User: <span class="font-medium">{{ selectedTransaction?.user.firstName }}</span></p>
                    <p class="text-gray-600">Type: <span class="font-medium">{{ selectedTransaction?.type }}</span></p>
                    <p class="text-gray-600">Amount: <span class="font-medium">{{ selectedTransaction?.amount }} {{ selectedTransaction?.currency }}</span></p>
                    <p class="text-gray-600">Date: <span class="font-medium">{{ selectedTransaction?.date | date:'dd MMM yyyy'  }}</span></p>
                    <p class="text-gray-600">Status: <span class="font-medium text-green-500">{{ selectedTransaction?.status }}</span></p>
                    <button class="mt-4 px-4 py-2 bg-blue-500 text-white rounded" (click)="closeModal()">Close</button>
                </div>
            </div>
        </tbody>
    </table>

    <!-- Pagination Controls -->
    <div class="flex justify-center p-3 space-x-4 bg-white dark:bg-white">
        <button (click)="prevPage()" [disabled]="currentPage === 1"
            class="px-4 py-2 bg-[#4CAF50] text-white rounded-lg hover:bg-[#4CAF50] disabled:opacity-50">
            Prev
        </button>
        <span class="text-gray-700">Page {{ currentPage }} of {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages"
            class="px-4 py-2 bg-[#4CAF50] text-white rounded-lg hover:bg-[#4CAF50] disabled:opacity-50">
            Next
        </button>
    </div>
</div>
