<div class="relative overflow-x-auto m-5 mt-20 shadow-xl rounded-lg">
  <h1 class="text-3xl font-bold text-[#0D1F2D] dark:text-[#0D1F2D] mb-6">Welcome Investor 🚀 </h1>
    <table class="w-full text-sm text-left rtl:text-right text-[#0D1F2D] dark:text-[#0D1F2D]">
      <thead class="text-xs text-gray-700 uppercase bg-white  dark:bg-white dark:text-[#0D1F2D]">
        <tr>
          <th scope="col" class="px-6 py-3">
            Campaign Name
          </th>
          <th scope="col" class="px-6 py-3">
            Amount Invested
          </th>
          <th scope="col" class="px-6 py-3">
            Date of Investment
          </th>
          <th scope="col" class="px-6 py-3">
            Type
          </th>
          <th scope="col" class="px-6 py-3">
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let investment of paginatedInvestments()" class="text-[#0D1F2D] bg-white border-b dark:bg-white dark:border-gray-700 border-gray-200">
          <td class="px-6 py-4 font-medium ">
            {{investment.campaign.title}}
          </td>
          <td class="px-6 py-4">
            {{investment.amount}}
          </td>
          <td class="px-6 py-4">
            {{investment.date}}
          </td>
          <td class="px-6 py-4">
            <span class="px-2 py-1 text-white font-bold rounded-full"
                  [ngClass]="getInvestmentClass(investment.type)">
              {{ investment.type }}
            </span>
          </td>

          <td class="px-6 py-4">
            <button class="text-blue-500 hover:text-blue-700">View Details</button>
          </td>
        </tr>
        
      </tbody>
    </table>
    <!-- Pagination Controls -->
    <div class="flex justify-center p-3 space-x-4 bg-white dark:bg-white">
      <button (click)="prevPage()" [disabled]="currentPage === 1"
          class="px-4 py-2 bg-[#4CAF50] text-white rounded-lg hover:bg-[#4CAF50] disabled:opacity-50">
          Prev
      </button>
      <span class="text-gray-700">Page {{ currentPage }} of {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages"
          class="px-4 py-2 bg-[#4CAF50] text-white rounded-lg hover:bg-[#4CAF50] disabled:opacity-50">
          Next
      </button>
  </div>
  </div>
  