<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            Campaign Name
          </th>
          <th scope="col" class="px-6 py-3">
            Amount Invested
          </th>
          <th scope="col" class="px-6 py-3">
            Date of Investment
          </th>
          <th scope="col" class="px-6 py-3">
            Type
          </th>
          <th scope="col" class="px-6 py-3">
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let investment of investments" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
          <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            {{investment.campaign.title}}
          </td>
          <td class="px-6 py-4">
            {{investment.amount}}
          </td>
          <td class="px-6 py-4">
            {{investment.date}}
          </td>
          <td class="px-6 py-4">
            {{investment.type}}
          </td>
          <td class="px-6 py-4">
            <button class="text-blue-500 hover:text-blue-700">View Details</button>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
  